{% extends "base.html" %}
{% load feature_extras %}
{% load staticfiles %}
{% block content %}
 
 <div class="row header">
 
   <div class="container">
     <h2>{{ feature.name }}</h2>
     <div class="col-md-12">
         <table class="table">
             <tbody>
             <tr>
                 <th>
                   CREATED
                 </th>
                 <th>OWNER</th>
                 <th>LAST POST</th>
             </tr>
             <tr>
                 <td>
                   <time datetime="{{ feature.created_at }}">
                    {{ feature.created_at|started_time }}
                   </time>
                 </td>
                 <td>{{ feature.user.username }}</td>
                 <td>{% last_posted_user_name feature %}</td>
             </tr>
           </tbody>
         </table>
     </div> 
     <div class="container">
         <div class="col-md-6">
             <h2>Upvote</h2> 
 
                 <div class="col-md-10"> 
                     <span class="pull-right">Votes: {{ feature.feature_votes }}</span>
                 </div>

                 {% autoescape off %}
                 {% user_vote_button feature feature user %}
                 {% endautoescape %}

              </div> 
         </div>
     </div> 



     {% if user.is_authenticated %}
       <p>
         <a href="{% url 'new_post' feature.id %}" class="btn btn-primary">New post</a>
       </p>
     {% endif %}
   </div>
 </div>
 <div class="container">
   {% for post in feature.feature_posts.all %}
     {% include "forum/feature_post.html" %}
   {% endfor %}
 </div>
{% endblock %}